aiohttp
anaconda-navigator
anaconda-project
astropy
autopep8
aws-sam-cli
bitarray
bkcharts
bottleneck
brotlipy
comtypes
conda-build
conda-package-handling
conda-repo-cli
conda-token
conda-verify
cytoolz
datashader
distributed
flake8
gensim
glob2
google-cloud-storage
httpx
hvplot
imagecodecs
intake
jdcal
jupyter
jupyterlab
librosa
mkl-fft
mkl-random
mkl-service
mock
munkres
mypy-extensions
navigator-updater
nltk
nose
olefile
opencv-python
openpyxl
pep8
pip-chill
plotly
poyo
pycurl
pydocstyle
pyhamcrest
pyjwt
pyodbc
pyreadline
pysocks
pytest
python-snappy
rope
scikit-image
scikit-learn-intelex
scrapy
seaborn
sip
sortedcollections
spyder
sqlalchemy
statsmodels
sympy
tables
tabulate
tbb
tensorflow
tweepy
unidecode
win-inet-pton
win-unicode-console
wincertstore
xlrd
xlsxwriter
xlwings
yapf
